{% include "partials/head.njk" %}
<body class="leading-normal tracking-normal gradient" style="font-family: 'Source Sans Pro', sans-serif;">

{% include "partials/nav.njk" %}
{% include "partials/hero.njk" %}
{% include "partials/topseparator.njk" %}


<section class="bg-white flex flex-wrap justify-center">
    {{ content | safe }}
</section>

  {% include "partials/services.njk" %}
  {% include "partials/videos.njk" %}

  {% include "partials/footerseparator.njk" %}
  {% include "partials/footer.njk" %}
  </body>
</html>