{% include "partials/head.njk" %}

{% include "partials/nav.njk" %}
{% include "partials/hero.njk" %}
{% include "partials/topseparator.njk" %}


<section class="bg-white flex flex-wrap justify-center">
    {{ content | safe }}
</section>

  {% include "partials/services.njk" %}
  {% include "partials/product-list.njk" %}

  {% include "partials/footerseparator.njk" %}
  {% include "partials/footer.njk" %}